Package: jp.soh.freepip
Name: FreePIP
Version: 0.0.9
Architecture: iphoneos-arm64
Description: Lightweight unlimited PiP resizing and positioning.
Maintainer: Soh Satoh
Author: Soh Satoh
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 15.0)