name: Build FreePIP
on: [push, workflow_dispatch]

jobs:
  build:
    name: Build Rootless
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: Randomblock1/theos-action@v1
        with:
          theos-sdks: 'https://github.com/theos/sdks'
          theos-sdks-branch: 'master'
      - run: |
          make clean
          make package FINALPACKAGE=1 THEOS_PACKAGE_SCHEME=rootless
      - uses: actions/upload-artifact@v4
        with:
          name: FreePIP-Rootless
          path: packages/*.deb